<link href="~/css/Admin.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <partial name="_sidebar" />
        </div>
        <div class="col-md-8 d-flex justify-content-center align-items-center mt-5 pt-5">
            <div class="w-100">

                <table class="table table-bordered table-hover text-white text-center">
                    <thead style="background-color: #6a0dad;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Comment</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Blog Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #d4a6e4;">
                        @foreach (var item in ViewBag.fetchcmt)
                        {
                            <tr>
                                <td class="text-black">@item.id</td>
                                <td class="text-black">@item.comment</td>
                                <td class="text-black">@item.Name</td>
                                <td class="text-black">@item.BlogName</td>


                                <td>
                                    <div class="d-flex justify-content-around">

                                        <a class="btn btn-danger" asp-controller="Admin" asp-area="Admin" asp-action="DeleteComment" asp-route-id="@item.id">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
               
            </div>
        </div>
    </div>
</div>
